body {
  user-select: none;
  background-color: rgb(204, 153, 201, 0.8);
}

.calculator {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  height: 500px;
  width: 400px;
  border-radius: 0.5em;
  font-family: "Bitter", serif;
}

.screen {
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.screen-error {
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}

#total {
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  margin: 0 20px;
  font-size: 1.25em;
}

#current {
  text-align: center;
  margin: 0 20px;
  font-size: 2em;
}

#error {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 20px;
  color: rgb(113, 22, 22);
  font-size: 2.5em;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 400px;
  width: 400px;
}

.all-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.digits {
  color: white;
  font-size: 1.5em;
}

.non-digits {
  font-size: 1.25em;
  color: rgb(10, 48, 52);
  background-color: rgba(255, 255, 255, 0.3);
}

#evaluate {
  grid-column: 4/6;
  font-size: 4em;
  color: rgb(10, 48, 52);
  background-color: rgba(255, 255, 255, 0.5);
}

.color-container {
  display: flex;
  margin: auto;
  background-color: white;
  width: 500px;
}

.color-container > div {
  height: 2em;
  width: 5em;
}

#purple {
  background-color: rgb(204, 153, 201, 0.8);
}

#blue {
  background-color: rgb(158, 193, 207, 0.8);
}

#green {
  background-color: rgb(158, 224, 158, 0.8);
}

#orange {
  background-color: rgb(254, 177, 68, 0.8);
}

#red {
  background-color: rgb(255, 102, 99, 0.8);
}

@media (max-width: 600px) {
  .calculator {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .screen {
    width: 100%;
  }

  .screen-error {
    width: 100%;
  }

  #error {
    font-size: 2em;
  }

  .buttons {
    width: 100%;
    height: auto;
  }

  .color-container {
    position: fixed;
    bottom: 0;
    margin: none;
    width: 100%;
  }

  .color-container > div {
    height: 2em;
    width: 20%;
    margin: none;
  }
}

@media (max-height: 450px) {
  .calculator {
    margin: 0 auto;
  }

  .screen {
    height: 20vh;
  }

  .screen-error {
    height: 20vh;
  }

  #error {
    font-size: 2em;
  }

  .buttons {
    height: 60vh;
  }

  .color-container {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .color-container > div {
    height: 2em;
    width: 20%;
    margin: none;
  }
}
